.nav__search--container{
	position: relative;
	display: inline-block;
}


.nav__search--textInput{
	height: 2.5rem;
	padding: 0 1.8rem 0 .3rem;
	border: none;
	border-radius: 2px;
	background-color: #EEE;
	font-weight: bold;
}

.nav__serach--inputFilled{
	background-color: #67a;
	color: #fff;
}


.nav__search--clearButton{
	font-family:"Courier New", Courier, monospace;
	text-transform: uppercase;
	user-select:none;
	text-indent: 0;
	letter-spacing: 0;
	line-height: 2.5rem;
	border: none;
	background-color: transparent;
	color: #aaa;
	height: 2.5rem;
	width:1rem;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
	margin: 0;
	position: absolute;
	top:0;
	right: .3rem;
	cursor: pointer;
}

.nav__search--hidde{
	display: none;
}	